@inject IJSRuntime JS

<button type="button" class="btn @(copied ? "btn-success" : "btn-primary")" @onclick="async () => await CopyTextToClipboard(true)"><i class="oi @(copied ? "oi-check" : "oi-clipboard")"></i> @(copied ? "Copied!" : "Copy List")</button>

@code {
    [Parameter]
    public string text { get; set; }
    public bool copied { get; set; } = false;

    private async Task CopyTextToClipboard(bool byCritics = true)
    {
        await JS.InvokeVoidAsync("clipboardCopy", text);
        copied = true;
    }
}