@inherits LayoutComponentBase

<PageTitle>Open Video Game Data</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-1 g-0">
            @Body
        </article>
        <hr style="margin-bottom: 10px; margin-top: 300px; position: relative; z-index: -999;"/>
        <footer>
            <div class="row g-0">
                <div class="col open-footer">
                    <p>© OpenVideoGameData 2023 - Powered by <a href="https://www.igdb.com/">IGDB</a></p>
                    <p>Read more about <a href="about">here</a></p>
                </div>
            </div>
        </footer>
    </main>
    <style>
        .citation-item {
            margin-left: 0.1em;
            margin-right: 0.6em;
        }

        body {
            background-color: #121212 !important;
            color: #EEEEEE;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
        }

        .top-row {
            background-color: #121212 !important;
        }
        
        input {
            background-color: #30394c !important;
            border-color: #1d222e !important;
            color: #EEEEEE; 
        }

        .form-select {
            background-color: #30394c !important;
            color: #EEEEEE;
        }

        .select-sim {
            background-color: #30394c !important;
            background: #30394c !important;
        }

        table {
            color: #EEEEEE !important;
        }

        .game-card-cover {
            border-style: solid !important;
            border-color: #393e4681 !important;
            border-width: 1px;
        }

        .open-footer {
            padding: 1em 1.1em;
        }

        .pinned-list-title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1.2em;
            color: #EEEEEE;
            text-decoration-line: none;
        }

        .pinned-list-title:hover {
            text-decoration-line: underline;
        }

        .game-card-cover {
            border-radius: 4px; 
            margin-top: 0.2em;
            margin-bottom: 0.2em;
            margin-left: 0.1em;
            margin-right: 0.1em;
        }

        .pinned-list-info {
            margin: 0;
        }

        .pinned-list {
            display: inline-block;
            padding: 0.2em;
            margin-left: auto;
            margin-top: 0.9em;
        }
        
        .cursor-pointer {
            cursor: pointer;
        }

        .cursor-pointer:hover {
            cursor: pointer;
            text-decoration-line: underline;
        }

        .link-sutil {
            cursor: pointer;
            color: #EEEEEE;
            text-decoration-line: none;
        }

        .link-sutil:hover {
            text-decoration-line: underline;
        }

        .tooltipi {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
            font-size: smaller;
            top: -5px;
        }

        .tooltipi .tooltipitext {
            visibility: hidden;
            width: 140px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            position: absolute;
            z-index: 1;
        }

        .tooltipi:hover .tooltipitext {
            visibility: visible;
        }

        .flex-container {
            display: flex;
            flex-wrap: wrap;
        }

        .only-show-mobile {
            display: none;
        }

        .only-show-desktop {
            display: block;
        }

        @@media (max-width: 641px) {
            .only-show-mobile {
                display: block;
            }

            .only-show-desktop {
                display: none;
            }
        }
    </style>
</div>
