@using System

<select class="form-select year-select m-2" value="@(SelectedYear != null ? SelectedYear : "-")" @onchange="async (arg) => await SelectYear(arg.Value)">
    @foreach (var year in YearList)
    {
        @if (year == 0)
        {
            <option value="-"> - </option>
        }
        else
        {
            <option value="@year.ToString()">@year.ToString()</option>
        }
    }
</select>

<style>
    .year-select {
        display: inline-block;
        width: 6em;
    }
</style>

@code {
    private int CurrentYear = DateTime.Now.Year;
    private int? SelectedYear = DateTime.Now.Year;
    private int[] YearList;

    [Parameter] public EventCallback<int?> YearChangedCallback { get; set; }

    protected override void OnInitialized()
    {
        GenerateYearList();
    }

    private void GenerateYearList()
    {
        YearList = new int[31];
        YearList[0] = 0;
        
        for (int i = 1; i < 31; i++) {
            YearList[i] = CurrentYear - (i - 1);
        }
    }

    private async Task SelectYear(object? year) {
        year = year != null && (string)year != "-" ? year : null;

        if (year is not null) {
            if (int.TryParse((string)year, out int yearInt)) {
                this.SelectedYear = yearInt;
                await YearChangedCallback.InvokeAsync(this.SelectedYear);
            }
        }
        else {
            this.SelectedYear = null;
            await YearChangedCallback.InvokeAsync(null);
        }
    }
}